<!DOCTYPE html>

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Order
{% endblock %}
		
{% block header_block %}
	<div class="container">
		<h2>ORDER</h2>
	</div>
	
{% endblock %}
				
{% block content_block %}
				
	<table class="firstTable" style="width: 100%; text-align: left;">
	  <tr>
		<th>DRINK</th>
		<td>
			<select id="drinks" name="drinks">
				<option value="latte">Latte</option>
				<option value="cappuccino">Cappuccino</option>
				<option value="espresso">Espresso</option>
				<option value="mocha">Mocha</option>
			</select>
		</td>
	  </tr>
	  <tr>
		<th>SWEETNESS</th>
		<td>
			<select id="sweetness" name="sweetness">
				<option value="sugar">Add Sugar</option>
				<option value="sweetener">Add Sweetener</option>
				<option value="free">Sugar and Sweetener Free</option>
			</select>
		</td>
	  </tr>
	  <tr>
		<th>MILK</th>
		<td>
			<select id="milks" name="milks">
				<option value="skimmed">Skimmed Milk</option>
				<option value="semi">Semi-skimmed Milk</option>
				<option value="oat">Oat Milk</option>
			</select>
		</td>
	  </tr>
	  <tr>
		<th>PICKUP TIME</th>
		<td>
			<select id="pickup" name="pickup">
				<option value="twelveAm">12am</option>
				<option value="onePm">1pm</option>
				<option value="twoPm">2pm</option>
				<option value="threePm">3pm</option>
			</select>
		</td>
	  </tr>
	</table>

	<br>
	
	<table class="firstTable" style="width: 100%">
	  <td>
		<table class="secondTable" border="0">
			<tbody>
				<tr>
					<td style="width: 146px;"> <strong>TOTAL PRICE</strong> </td>
					<td style="width: 79.3375px;">&nbsp;£20</td>
				</tr>
				<tr>
					<td style="width: 146px;"><strong>GIVEN POINTS</strong></td>
					<td style="width: 79.3375px;">&nbsp;2</td>
				</tr>
			</tbody>
		</table>
	  </td>
	  <td>
		<button class="orderButton">ORDER</button>
	  </td>
	</table>


{% endblock %}