<!DOCTYPE html>

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Modify Drink
{% endblock %}
		
{% block header_block %}
	<div class="container">
		<h2>MODIFY DRINK LIST</h2>
	</div>
{% endblock %}
				
{% block content_block %}
				
	<table class="firstTable" style="width: 100%">
		<tr> 	<td class="headerTable"> <strong>Drinks in the Shop</strong> </td> </tr>
		<tr> 	<td> Latte </td>
				<td colspan="2"><input type="submit" value="Delete"  class="deleteButton" style="float:right; margin-left: auto;"></td>
				</td>
		</tr>
		<tr>	<td> Espresso </td>
				<td colspan="2"><input type="submit" value="Delete"  class="deleteButton" style="float:right; margin-left: auto;"></td>
		</tr>
		<tr>	<td> Cappuccino </td>
				<td colspan="2"><input type="submit" value="Delete"  class="deleteButton" style="float:right; margin-left: auto;"></td>
		</tr>
		<tr>	<td> Mocha </td>
				<td colspan="2"><input type="submit" value="Delete"  class="deleteButton" style="float:right; margin-left: auto;"></td>
		</tr>
	</table>
	
	<br>
	
	<form style="width: 100%">
		<table class="firstTable" style="width: 100%" >
			<tr> 	
				<td class="headerTable"> <strong>Add New Drink</strong> </td> 
			</tr>
			<tr>
			  <td><label for="description">Description:</label></td>
			  <td><input type="text" id="description" name="description"></td>
			</tr>
			<tr>
			  <td><label for="kcal">Calorie:</label></td>
			  <td><input type="text" id="kcal" name="kcal"></td>
			</tr>
			<tr>
			  <td><label for="fat">Fat:</label></td>
			  <td><input type="text" id="fat" name="fat"></td>
			</tr>
			<tr>
			  <td><label for="carb">Carb:</label></td>
			  <td><input type="text" id="carb" name="carb"></td>
			</tr>
			<tr>
			  <td><label for="protein">Protein:</label></td>
			  <td><input type="text" id="protein" name="protein"></td>
			</tr>
			<tr>
			  <td><label for="espresso">Espresso:</label></td>
			  <td><input type="text" id="espresso" name="espresso"></td>
			</tr>
			<tr>
			  <td><label for="milk">Steamed Milk:</label></td>
			  <td><input type="text" id="milk" name="milk"></td>
			</tr>
			<tr>
			  <td><label for="cream">Cream:</label></td>
			  <td><input type="text" id="cream" name="cream"></td>
			</tr>
			<tr>
			  <td colspan="2"><input type="submit" value="ADD"  class="confButton" style="float:right; margin-left: auto;"></td>
			</tr>
		</table>
	</form>
{% endblock %}