<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>		{% block title_block %}	{% endblock %}	</title>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
	<link rel="stylesheet" href="{% static 'css/ugurCSS.css' %}">
</head>

<body>
<div class="main_father justify-content-center">
    <div class="content">
        <div class="top">
            <div class="top-log">
                <a href="javascript:void(0);" style="display: block;">
                    <img src="{% static './image/coffeeLogo.png' %}" class="logo_img l-animtion" alt="logo">
                </a>
            </div>
            <div class="top-item">
                <div class="top-btn-content">
                    <a href="/CafeStar/">
                        <button  id="homePageBtn">HOMEPAGE</button>
                    </a>
                </div>

            </div>
            <div class="top-item">
                <div class="top-btn-content">
                    <a href="/CafeStar/drinks">
                        <button class="top-text" id="drinkLinkBtn">DRINKS</button>
                    </a>
                </div>

            </div>
            <div class="top-item">
                <div class="top-btn-content">
                    <a href="/CafeStar/order">
                        <button class="top-text">ORDERS</button>
                    </a>
                </div>

            </div>

            <div class="top-item" style="float: right">
                <div class="user">
                    <a href="javascript:void(0);" style="display: block;">
                        <img src="{% static './image/user.png' %}" class="user-img u-animtion" alt="user" >
                    </a>
                </div>
            </div>
            <div class="search-container" style="float: right">
                <input class="search-txt" type="text" placeholder="Search..." name="search"/>
                <button type="submit">
                    <i class="fa fa-search">Search</i>
                </button>
            </div>
            <div style="clear: both"></div>
        </div>

        <div class="content-center">
            <div class="content-center-left" style="width: 45%">
                <div class="register">
                    <img src="{% static './image/register.png' %}" class="register" alt="register" style="width: 100%;min-width: 500px; height: 600px;">
                </div>
            </div>
            <div class="content-center-middle">

            </div>
			
			
			
			
            <div class="content-center-right" style="width: 54.5%" >
                <div class="home-left-top">
                    <div class="panel-title"><h1>	{% block header_block %}{% endblock %} 	</h1></div>
                    <div>	{% block content_block %}{% endblock %}	</div>
                </div>
                <div style="clear: both"></div>
            </div>	
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        $("#loginBtn").click(function(){
            var userName = $("#userName").val();
            var pwd = $("#pwd").val();
            $.post("/login",
                {
                    userName:userName,
                    pwd:pwd
                },
                function(data,status){
                    location.href="homePage.html";
                });
        });
    });
</script>
</html>
