<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/userProfile.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        a {
            text-decoration: none
        }
    </style>
</head>
<body>
<div class="main_father justify-content-center">
    <div class="content">
        <div class="top">
            <div class="top-log">
                <a href="javascript:void(0);" style="display: block;">
                    <img src="../static/image/coffeeLogo.png" class="logo_img l-animtion" alt="logo">
                </a>
            </div>
            <div class="top-item">
                <div class="top-btn-content">
                    <a href="/CafeStar/"><button id="homePageBtn">HOMEPAGE</button></a>

                </div>

            </div>
            <div class="top-item">
                <div class="top-btn-content">
                    <a href="/CafeStar/drinks">
                    <button class="top-text" id="drinkLinkBtn">DRINKS</button>
                        </a>
                </div>

            </div>
            <div class="top-item">
                <div class="top-btn-content">
                    <a href="order">
                    <button class="top-text">ORDERS</button>
                        </a>
                </div>

            </div>

            <div class="top-item" style="float: right">
                <div class="user">
                    <a href="javascript:void(0);" style="display: block;">
                        <img src="../static/image/user.png" class="user-img u-animtion" alt="user">
                    </a>
                    <a href="/CafeStar/logout" style="color: black">LOGOUT</a>
                </div>
            </div>
            <div class="search-container" style="float: right">
                <input class="search-txt" type="text" placeholder="Search..." name="search"/>
                <button type="submit">
                    <i class="fa fa-search">Search</i>
                </button>
            </div>
            <div style="clear: both"></div>
        </div>

        <div class="content-center">
            <div class="content-center-left" style="width: 45%">
                <div class="userprofile">
                    <img src="../static/image/userprofile.png" class="userprofile" alt="userprofile"
                         style="width: 100%;min-width: 500px; height: 600px;">
                </div>
            </div>
            <div class="content-center-middle">

            </div>
            <form action="/CafeStar/edit" method="post">
                <div class="content-center-right" style="width: 54.5%">
                    <div class="home-left-top">
                        <div class="panel-title">
                            <h1 style="float: left;">Hello </h1>
                            <h1 style="float: left;margin-left: 50px"
                                id="userNameTitle">{{ request.session.userInfo.userName }}</h1></div>
                        <div>
                            <table class="grade">
                                {% csrf_token %}
                                {% for field in userModelform %}
                                    <tr>
                                        <td>
                                            <label>{{ field.label }}</label>
                                        </td>
                                        <td>
                                            <div class="sign-txt">
                                                {{ field }}
                                                <span style="color: red">{{ field.errors.0 }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>
                                        <label>Point</label>
                                    </td>
                                    <td>
                                        <div class="sign-txt">
                                            <input type="text" class="sign-txt" disabled="disabled"
                                                   value="{{ request.session.point }}">

                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>

                    </div>


                    <div class="home-left-bottom">


                        <div class="home-left-bottom-form">

                            <button id="/CafeStar/edit" class="sign-btn" type="submit">SAVE</button>
                            <div></div>
                            <div class="home-left-bottom-form" style="color: red">{{ error_msg }}</div>
                        </div>

                        <div style="clear: both"></div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $("#loginBtn").click(function () {
            let userName = localStorage.getItem("userName");
            $.post("/getUserProfile",
                {
                    userName: userName
                },
                function (data, status) {
                    if (data.code = 200) {
                        var userInfo = data.data.userInfo;
                        $("#fullName").val(userInfo.fullName);
                        $("#userName").val(userInfo.userName);
                        $("#email").val(userInfo.email);
                        $("#password").val(userInfo.password);
                        $("#phoneNumber").val(userInfo.phoneNumber);
                    }
                });
        });
        $("#editBtn").click(function () {
            let userName = localStorage.getItem("userName");
            let fullName = $("#fullName").val();
            let pwd = $("#pwd").val();
            $.post("/editUserProfile",
                {
                    fullName: fullName
                    , pwd: pwd
                },
                function (data, status) {
                    if (data.code = 200) {

                    }
                });
        });
        $("#logoutBtn").click(function () {
            localStorage.removeItem("userName");
            location.href = "newLogin.html";
        });
    });
</script>
</html>