.firstTable {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background: #f8f8f8;
  border-radius: 10px;
}

.firstTable th {
  color: #660000;
  text-align: left;
}

.firstTable th,
.firstTable td {
  color: #660000;
  padding: 12px 15px;
  border: none;
  text-align: left;
}

.firstTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.stars {
	float: right;
	margin-left: auto;
	display: inline-block;
	font-size: 25px;
	color: #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: white;
}

.stars input[type="radio"] {
	display: none;
}

.stars label {
	float: right;
	cursor: pointer;
}

.stars label:before {
	content: "\f005";
	font-family: FontAwesome;
	font-size: 25px;
	float: right;
}

.stars input[type="radio"]:checked ~ label:before {
	color: #ffcc00;
	content: "\f005";
}


.stars p {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 20px;
  color: #8B4513;
}

.headerTable {
  font-weight: bold;
  color: brown;
}

.buttonAndText {
	margin-left:auto;
}

.sat-txt{
	text-align:right;
	font-size: 5px;
	color: #8B4513;
}

.sat-buton {
  background: #7a3647;
  background-image: -webkit-linear-gradient(top, #7a3647, #450b3d);
  background-image: -moz-linear-gradient(top, #7a3647, #450b3d);
  background-image: -ms-linear-gradient(top, #7a3647, #450b3d);
  background-image: -o-linear-gradient(top, #7a3647, #450b3d);
  background-image: linear-gradient(to bottom, #7a3647, #450b3d);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #000000;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.sat-buton:hover {
  background: #918690;
  text-decoration: none;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  width: 100%;
}

option {
  font-size: 16px;
}

.my-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #009879;
  border-radius: 25px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.my-btn:hover {
  background-color: #007c68;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.orderButton {
  
  background: #7a3647;
  background-image: -webkit-linear-gradient(top, #7a3647, #450b3d);
  background-image: -moz-linear-gradient(top, #7a3647, #450b3d);
  background-image: -ms-linear-gradient(top, #7a3647, #450b3d);
  background-image: -o-linear-gradient(top, #7a3647, #450b3d);
  background-image: linear-gradient(to bottom, #7a3647, #450b3d);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #000000;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.orderButton:hover {
  background: #af6464;
  text-decoration: none;
}

.deleteButton {
  
  background: #7a3647;
  background-image: -webkit-linear-gradient(top, #7a3647, #450b3d);
  background-image: -moz-linear-gradient(top, #7a3647, #450b3d);
  background-image: -ms-linear-gradient(top, #7a3647, #450b3d);
  background-image: -o-linear-gradient(top, #7a3647, #450b3d);
  background-image: linear-gradient(to bottom, #7a3647, #450b3d);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #000000;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.deleteButton:hover {
	float:right
	margin-left: auto;
	background: #af6464;
	text-decoration: none;
}

.confButton {
	float:right
  	margin-left: auto;
	background: #7a3647;
  background-image: -webkit-linear-gradient(top, #7a3647, #450b3d);
  background-image: -moz-linear-gradient(top, #7a3647, #450b3d);
  background-image: -ms-linear-gradient(top, #7a3647, #450b3d);
  background-image: -o-linear-gradient(top, #7a3647, #450b3d);
  background-image: linear-gradient(to bottom, #7a3647, #450b3d);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #000000;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.confButton:hover {
  background: #af6464;
  text-decoration: none;
}

.secondTable{
	float: right;
	margin-left: auto;
}

.my-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #009879;
  border-radius: 25px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.my-btn:hover {
  background-color: #007c68;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}